@model List<GiftViewModel>

@foreach (GiftViewModel gift in Model)
{
    <section style="margin-bottom: 1em">
        <div>
            Recipient: @MockData.GetUser(gift.UserId).FullName - <a asp-controller="Gifts" asp-action="Edit" asp-route-id=@gift.Id>Edit</a>
        </div>
        <div>
            &emsp; Title: @gift.Title - Priority: @gift.Priority
        </div>
        <div>
            &emsp; Description: @gift.Description
        </div>
        <div>
            &emsp; URL: @gift.URL
        </div>
        <form asp-controller="Gifts" asp-action="Delete" asp-route-id=@gift.Id method="post">
            <button>X</button>
        </form>
    </section>
}
<a asp-controller="Gifts" asp-action="Create">Create</a>
<p>This is the gifts page.</p>